/* .container{
    width: 350px;
    height:100px;
    
} */


body{
    text-align: center;
    border: 2px;
    border-color: black;
    
    
 }
 input{
     height: 55px;
     width: 60px;
     font-size: 25px;
     border-radius: 10px;
     border-color: black;
     border-width: 2px;
     margin: 10px;
 }
  .calcu{
      width: 350px;
      height: 470px;
      border: black solid 1px;
      padding: 1px;
      text-align: center;
      background-color: cadetblue;
  }